Repository makimo/style-guide, pull requests merged in 2019-07, with the labels that each got.

#54 Remove contradictory suggestions
  git.md
Labels: Git, change

#60 Add basic gotcha on tag management in Git
  git.md
Labels: Git, enhancement

#61 Initialize rules.md
  rules.md
Labels: enhancement
